html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.main {
    padding-left: 2rem;
    flex: 1 0 auto;

}

.main ul {
    margin: 0;
    padding: 0;
}

.main li {
    list-style: none;
    display: block;

}

.main li a {
   display: block;
   padding: 0.5rem 1rem;
   text-decoration: none;
   color: black;
}

.main ul ul {
    opacity: 0;
    position: absolute;
    top: 2.2rem;
    left: 0;
    width: auto;
    background: lightgreen;
    transition: opacity 0.2s ease-out, transform 0.2s ease-in;
    transform: translateY(2em);
    display: flex;
}

.main > ul {
    display: flex;
    position: relative;
    background: #DDD;
}

.main li:hover > a,
.main a:hover {
    background: #060;
    color: #fff;
}

.main li:hover > ul {
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;
}

.main ul ul li a {
    height: 100%;
    padding: 6rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main ul ul li a i,
.main ul ul li a span {
    display: block;
}

.main ul ul li a .copy {
    font-weight: bold;
}

.main ul ul li a .desk {
    font-size: 0.9rem;
    font-style: italic;
    opacity: 0.8;
}