---
---
@import "main";

nav {
    margin: 2rem;
    display: flex;
}

.main {
    width: 9rem;
    position: relative;
    margin-right: 1rem
}
nav a {
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    color: lightgreen;
    font: 18px/1.5 "Verdana";
    display: block;
    position: relative;
    text-align: center;
    border: 1px solid rgb(143, 142, 142);
    border-radius: 0.3rem;

    // z-index: 10;

}

// .wrapper {
//     position: absolute;
//     top:0; bottom:0; left:0; right: 0;
//     border: 1px solid rgb(143, 142, 142);
//     border-radius: 0.3rem;
//     // z-index: 0;


// }
